

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .carousel figure img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .akteuell, .alteClubs, .newsletter {
    padding: 10px;
  }

  .alteClubs img {
    height: 150px;
  }

  .newsletter h2 {
    font-size: 1.5rem;
  }
}


@media (max-width: 480px) {
  .clubs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .clubs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .clubs {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

p{
  font-family: 'Arial', sans-serif;
    line-height: 1.6;
}


/* Header Styles */
header {
  background-color: #c2c2c2;
  color: black;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
  position: sticky; /* Haftet am oberen Rand */
  top: 0; 
  z-index: 1000; /*Damit es im Vordergrund bleibt*/
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none; /* Entfernt Aufzählungszeichen */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



/* Footer */


footer {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  text-align: center;
}


.footer-section h6 {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-section a {
  display: block;
  font-family:  sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

footer p {
  font-family:  sans-serif;
  font-size: 10px;
  color: #000;
}


/* Section Spieler*/



section.spieler {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
  background-color: #f9f9f9;
  max-width: 800px; /* Maximalbreite */
}
.alteClubs h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.alteClubs .text p {
  font-size: 30px;
  
}
.Titel{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}
.carousel {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}


.carousel>figure {
  flex: 1;
  display: none;
  margin: 0;
}

.carousel>figure.active {
  display: block;
}

.carousel>figure img {
  width: auto;
  height: 200px;
  
}



.carousel-prev,
.carousel-next {
  color: #000;
  border: none;
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  background: transparent;
  padding: 1rem;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Section Aktuell*/

.teams {
  display: flex;
  justify-content: center;
  gap: 20px; /* Abstand zwischen den Bildern */
  margin-bottom: 20px;
}

.teams img {
  width: 200px;
  height: 250px;
  max-width: 100%;
}

.teamsText{
  text-align: center;
  margin: 70px;
}

li {
  list-style-type: none;
}

/* section alte Clubs*/



.alteClubs {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 gleiche Spalten */
  margin: 60px;
}
.alteClubs div {
  border: 2px solid #333; /* Dickerer Rand */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Verschärfter Schatteneffekt */
  
}
.alteClubs img {
  max-width: auto; 
  height: 200px; 
  max-width: 100%;
}

.alteClubs .text {
  font-size: 14px; 
  text-align: center; 
}


/* Newsletter */
.newsletter {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
  margin: 3rem auto;
}

.newsletter h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.newsletter p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.newsletter label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.newsletter input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.newsletter input[type="submit"] {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter input[type="submit"]:hover {
  background-color: #5a5a5a;
}



/* Style für club.html */

/* alNassr Sektion */
.alNassr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
}

.club-info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.club-info li {
  margin: 0 10px;
}

.club-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* clubs Sektion */
.clubs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  list-style-type: none; /* Entfernt die Standard-Punkte der Liste */
  margin: 0;
  padding: 0; /* Entfernt das Standard-Padding der Liste */
}

.club1 {
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.club1 img {
  margin: 20px;
  width: auto;
  height: 200px;
  max-width: 100%;
}

.club1 h2 {
  margin: 10px 0;
  color: #000;
}

.club1:hover {
  transform: scale(1.1);
}

.club1 a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/*kontakt.html*/
.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.contact-form input[type="submit"]:hover {
  background-color: #0779e4;
}